body{
	font-size: 12px;
	margin-top: 5rem;
	color: #efefef;
	text-align: center;
}

.container{
	width: 85%;
	margin: 0 auto;
}

#clock {
	font-weight: 300;
	font-size: 8em;
	display:block;
	margin-bottom: 1.5rem;
}

#hex-code {
	font-size: 1.5em;
}
